<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Market Match</title>
    <link href="css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/lib/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="css/marketMatch.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="marketMatch" class="container-fluid">
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
            <button id="post" v-on:click="requestGenRandomOrder" class="btn btn-primary">发起随机挂单</button>
        </div>
    </div>
    <div v-if="order" class="row">
        <div class="col-lg-3">
            <span class="text-primary">上笔挂单</span>
        </div>
        <div class="col-lg-9">
            <table class="table">
                <thead>
                <tr>
                    <td class="text-primary">客户名称</td>
                    <td class="text-primary">手数</td>
                    <td class="text-primary">价位</td>
                    <td class="text-primary">方向</td>
                </tr>
                </thead>
                <tr v-if="order.direct=='BUY'">
                    <td class="buyOrder">{{order.cid}}</td>
                    <td class="buyOrder">{{order.volume}}</td>
                    <td class="buyOrder">{{order.limitPrice}}</td>
                    <td class="buyOrder">{{order.direct}}</td>
                </tr>
                <tr v-else>
                    <td class="sellOrder">{{order.cid}}</td>
                    <td class="sellOrder">{{order.volume}}</td>
                    <td class="sellOrder">{{order.limitPrice}}</td>
                    <td class="sellOrder">{{order.direct}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div id="orderBookChart" class="col-lg-8"></div>
        <div id="hisOrderList" class="col-lg-4">
            <div class="row">
                <h3 class="text-primary">历史挂单</h3>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <td class="text-primary">客户名称</td>
                        <td class="text-primary">手数</td>
                        <td class="text-primary">价位</td>
                        <td class="text-primary">方向</td>
                    </tr>
                    </thead>
                    <tr v-for="o in hisOrder">
                        <td v-if="o.direct == 'BUY'" class="buyOrder">{{o.cid}}</td>
                        <td v-else class="sellOrder">{{o.cid}}</td>
                        <td v-if="o.direct == 'BUY'" class="buyOrder">{{o.volume}}</td>
                        <td v-else class="sellOrder">{{o.volume}}</td>
                        <td v-if="o.direct == 'BUY'" class="buyOrder">{{o.limitPrice}}</td>
                        <td v-else class="sellOrder">{{o.limitPrice}}</td>
                        <td v-if="o.direct == 'BUY'" class="buyOrder">{{o.direct}}</td>
                        <td v-else class="sellOrder">{{o.direct}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/echarts.min.js"></script>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/vue.min.js"></script>
<script src="js/marketMatch.js"></script>
</html>
