<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Market Match</title>
    <link href="css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/lib/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
    <link href="css/marketMatch.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="marketMatch" class="container">
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
            <button id="post" v-on:click="requestGenRandomOrder" class="btn btn-primary">发起随机挂单</button>
        </div>
    </div>
    <div class="row">
        <div id="orderBookChart" class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="row">
                <h3 class="text-primary">历史挂单</h3>
            </div>
            <div id="hisOrderList" class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <td class="text-primary">客户名称</td>
                        <td class="text-primary">手数</td>
                        <td class="text-primary">价位</td>
                        <td class="text-primary">方向</td>
                    </tr>
                    </thead>
                    <tr v-for="o in hisOrder">
                        <td v-if="o.direct == 'BUY'" class="buy">{{o.cid}}</td>
                        <td v-else class="sell">{{o.cid}}</td>
                        <td v-if="o.direct == 'BUY'" class="buy">{{o.volume}}</td>
                        <td v-else class="sell">{{o.volume}}</td>
                        <td v-if="o.direct == 'BUY'" class="buy">{{o.limitPrice}}</td>
                        <td v-else class="sell">{{o.limitPrice}}</td>
                        <td v-if="o.direct == 'BUY'" class="buy">{{o.direct}}</td>
                        <td v-else class="sell">{{o.direct}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div v-if="matched" class="row">
        <div class="row">
            <h3 class="text-primary">上次挂单成交情况</h3>
        </div>
        <div id="matchList" class="row">
            <table class="table">
                <thead>
                <tr>
                    <td class="text-primary">发起方</td>
                    <td class="text-primary">响应方</td>
                    <td class="text-primary">价位</td>
                    <td class="text-primary">成交量</td>
                    <td class="text-primary">方向</td>
                </tr>
                </thead>
                <tr v-for="m in matched">
                    <td v-if="m.direct == 'BUY'" class="buy">{{m.counterParty1}}</td>
                    <td v-else class="sell">{{m.counterParty1}}</td>
                    <td v-if="m.direct == 'BUY'" class="buy">{{m.counterParty2}}</td>
                    <td v-else class="sell">{{m.counterParty2}}</td>
                    <td v-if="m.direct == 'BUY'" class="buy">{{m.matchPrice}}</td>
                    <td v-else class="sell">{{m.matchPrice}}</td>
                    <td v-if="m.direct == 'BUY'" class="buy">{{m.matchVolume}}</td>
                    <td v-else class="sell">{{m.matchVolume}}</td>
                    <td v-if="m.direct == 'BUY'" class="buy">{{m.direct}}</td>
                    <td v-else class="sell">{{m.direct}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="js/lib/jquery-3.1.1.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/echarts.min.js"></script>
<script src="js/lib/vue.min.js"></script>
<script src="js/marketMatch.js"></script>
</body>
</html>
