#orderBookChart {
    width: 640px;
    height: 360px;
}

#hisOrderList {
    max-height: 360px;
    overflow-y: scroll;
}

#matchList {
    max-height: 140px;
    overflow-y: scroll;
}

.buy {
    color: red;
}

.sell {
    color: green;
}